# https://git-scm.com/docs/gitattributes
# https://github.com/gitattributes/gitattributes
# https://docs.gitlab.com/user/project/repository/files/git_attributes/
# https://github.com/github-linguist/linguist/blob/main/lib/linguist/languages.yml

# Space can be specified with `[[:space:]]`
# Match groups can be used. Example: `*.{bat,[bB][aA][tT]} text eol=crlf`

# TODO: consider
# * text=auto eol=lf

*.cmd text eol=crlf
*.bat text eol=crlf

.vscode/*.json linguist-language=jsonc gitlab-language=jsonc
